# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# CatBoost artifacts
catboost_info/